section{
    display: flex;
    justify-content:space-between;
}

.video-container{
    width: 75%;
}

.blur-box{
    width: 480px;
    height: 100vh;
    background-color: #B1C4C4;
    position: relative;
}

.btn-container{
    width: 400px;
    position: absolute;
    top: 350px;
    left: 40px;
    right: 40px;
}

.btn-container button:nth-child(1){
    margin-bottom: 25px;
}

.login{
    margin-bottom: 25px;
}